Mount Google Drive to access stored datasets and to store prepared datasets

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Imorting libraries

In [ ]:
import pandas as pd

Reading the datasets (IPL commentery of 3 years)

In [ ]:
data1=pd.read_csv("/content/drive/MyDrive/NLP_CommentaryDatasets/IPL2018 - CommentaryData.csv")
data2=pd.read_csv("/content/drive/MyDrive/NLP_CommentaryDatasets/IPL2019 - CommentaryData.csv")
data3=pd.read_csv("/content/drive/MyDrive/NLP_CommentaryDatasets/IPL2020 - CommentaryData.csv")

In [ ]:
data1

Reversing the order and resetting the index to get commentary of 1st ball 1st match to the end of the tournament

In [ ]:
data1 = data1.sort_index(axis=0 ,ascending=False)
data1.reset_index(inplace = True, drop = True)
data1.head()

,over,short_text,long_text
0,0.1,"Chahar to Rohit Sharma, no run",Chahar beats the outside edge right away. Nice...
1,0.2,"Chahar to Rohit Sharma, no run","on a length and outside off, Chahar finds outs..."
2,0.3,"Chahar to Rohit Sharma, no run",beaten three times in a row! Good length and b...
3,0.4,"Chahar to Rohit Sharma, FOUR runs","slightly overpitched and outside off, Rohit do..."
4,0.5,"Chahar to Rohit Sharma, 1 run","full and veering into the pads, Rohit tucks it..."

Renaming columns

In [ ]:
data1.rename(columns = {'short_text':'prompt','long_text':'commentary'}, inplace = True)
data1.head()

,over,prompt,commentary
0,0.1,"Chahar to Rohit Sharma, no run",Chahar beats the outside edge right away. Nice...
1,0.2,"Chahar to Rohit Sharma, no run","on a length and outside off, Chahar finds outs..."
2,0.3,"Chahar to Rohit Sharma, no run",beaten three times in a row! Good length and b...
3,0.4,"Chahar to Rohit Sharma, FOUR runs","slightly overpitched and outside off, Rohit do..."
4,0.5,"Chahar to Rohit Sharma, 1 run","full and veering into the pads, Rohit tucks it..."

Seperating batsman to bowler and the event that occurred

In [ ]:
result = data1['prompt'].str.split(', ',n=1,expand=True)
data1["input"] = result[0]
data1["commentary"] = result[1]+", "+data1["commentary"]+"."
data1["event"] = result[1]
data1.head()

,over,prompt,commentary,input,event
0,0.1,"Chahar to Rohit Sharma, no run","no run, Chahar beats the outside edge right aw...",Chahar to Rohit Sharma,no run
1,0.2,"Chahar to Rohit Sharma, no run","no run, on a length and outside off, Chahar fi...",Chahar to Rohit Sharma,no run
2,0.3,"Chahar to Rohit Sharma, no run","no run, beaten three times in a row! Good leng...",Chahar to Rohit Sharma,no run
3,0.4,"Chahar to Rohit Sharma, FOUR runs","FOUR runs, slightly overpitched and outside of...",Chahar to Rohit Sharma,FOUR runs
4,0.5,"Chahar to Rohit Sharma, 1 run","1 run, full and veering into the pads, Rohit t...",Chahar to Rohit Sharma,1 run

Retaining the required rows and making them to string inputs

In [ ]:
data1=data1[["input","event","commentary"]]
data1["event"] = data1["event"].str.strip("")
data1["commentary"] = data1["commentary"].str.strip("")
data1.head()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

,input,event,commentary
0,Chahar to Rohit Sharma,no run,"no run, Chahar beats the outside edge right aw..."
1,Chahar to Rohit Sharma,no run,"no run, on a length and outside off, Chahar fi..."
2,Chahar to Rohit Sharma,no run,"no run, beaten three times in a row! Good leng..."
3,Chahar to Rohit Sharma,FOUR runs,"FOUR runs, slightly overpitched and outside of..."
4,Chahar to Rohit Sharma,1 run,"1 run, full and veering into the pads, Rohit t..."

Function to carry out the previous sequence of steps to all the datasets

In [ ]:
def preparedata(data1):
  data1 = data1.sort_index(axis=0 ,ascending=False)
  data1.reset_index(inplace = True, drop = True)
  data1.rename(columns = {'short_text':'prompt','long_text':'commentary'}, inplace = True)
  result = data1['prompt'].str.split(', ',n=1,expand=True)
  data1["input"] = result[0]
  data1["commentary"] = result[1]+", "+data1["commentary"]+"."
  data1["event"] = result[1]
  data1["event"] = data1["event"].str.strip("")
  data1["commentary"] = data1["commentary"].str.strip("")
  data1=data1[["input","event","commentary"]]
  return data1

Preparing the data for all the datasets

In [ ]:
data2 = preparedata(data2)
data3 = preparedata(data3)
data2.head()

,input,event,commentary
0,Chahar to Kohli,1 run,"1 run, strays on the pads first ball and Kohli..."
1,Chahar to Patel,no run,"no run, back of a length ball, given some widt..."
2,Chahar to Patel,no run,"no run, good bowling, keeps it wide of off stu..."
3,Chahar to Patel,no run,"no run, fuller and straighter, Parthiv wants t..."
4,Chahar to Patel,FOUR runs,"FOUR runs, misfield by by mid-off too full and..."

Concatenating all the datasets to a single dataset, resetting the index and converting to a dataframe

In [ ]:
commentarydata = [data1,data2,data3]
commentary = pd.concat(commentarydata)
commentary.reset_index(inplace = True, drop = True)
commentary = pd.DataFrame(commentary)
commentary.head()

,input,event,commentary
0,Chahar to Rohit Sharma,no run,"no run, Chahar beats the outside edge right aw..."
1,Chahar to Rohit Sharma,no run,"no run, on a length and outside off, Chahar fi..."
2,Chahar to Rohit Sharma,no run,"no run, beaten three times in a row! Good leng..."
3,Chahar to Rohit Sharma,FOUR runs,"FOUR runs, slightly overpitched and outside of..."
4,Chahar to Rohit Sharma,1 run,"1 run, full and veering into the pads, Rohit t..."

Splitting batsman and bowler names and appending to the data frame

In [ ]:
result = commentary["input"].str.split(" to ",n=1)
batsman=[]
bowler=[]
for item in result:
  bowler.append(item[0])
  if(len(item)>1):
    batsman.append(item[1])
  elif(len(item)==1):
    batsman.append("missing")

In [ ]:
commentary["bowler"] = bowler
commentary["batsman"]= batsman
commentary.head()

,input,event,commentary,bowler,batsman
0,Chahar to Rohit Sharma,no run,"no run, Chahar beats the outside edge right aw...",Chahar,Rohit Sharma
1,Chahar to Rohit Sharma,no run,"no run, on a length and outside off, Chahar fi...",Chahar,Rohit Sharma
2,Chahar to Rohit Sharma,no run,"no run, beaten three times in a row! Good leng...",Chahar,Rohit Sharma
3,Chahar to Rohit Sharma,FOUR runs,"FOUR runs, slightly overpitched and outside of...",Chahar,Rohit Sharma
4,Chahar to Rohit Sharma,1 run,"1 run, full and veering into the pads, Rohit t...",Chahar,Rohit Sharma

Using these splitted names to remove these proper noun names in the commentary column (To attempt to provide generic commentary)

In [ ]:
commentary["commentary"]=commentary.apply(lambda x: str(x['commentary']).replace(str(x['bowler']),'the bowler'),axis=1)
commentary["commentary"]=commentary.apply(lambda x: str(x['commentary']).replace(str(x['batsman']),'the batsman'),axis=1)

In [ ]:
commentary.head()

,input,event,commentary,bowler,batsman
0,Chahar to Rohit Sharma,no run,"no run, the bowler beats the outside edge righ...",Chahar,Rohit Sharma
1,Chahar to Rohit Sharma,no run,"no run, on a length and outside off, the bowle...",Chahar,Rohit Sharma
2,Chahar to Rohit Sharma,no run,"no run, beaten three times in a row! Good leng...",Chahar,Rohit Sharma
3,Chahar to Rohit Sharma,FOUR runs,"FOUR runs, slightly overpitched and outside of...",Chahar,Rohit Sharma
4,Chahar to Rohit Sharma,1 run,"1 run, full and veering into the pads, Rohit t...",Chahar,Rohit Sharma

Spelling correction for the commentary column to remove typos

In [ ]:
from textblob import TextBlob
commentary["commentary"].apply(lambda txt: ''.join(TextBlob(str(txt)).correct()))

0        no run, the bowler beats the outside edge righ...
1        no run, on a length and outside off, the bowle...
2        no run, beaten three times in a row! Good leng...
3        FOUR runs, slightly overpitched and outside of...
4        1 run, full and peering into the pads, Ohio tu...
                               ...
42404    1 run, short and into the body. Snuffles and d...
42405    1 run, short of a length at middle stump, punc...
42406    1 run, low full toss just outside off, snuffle...
42407    OUT, taken at midwicket. Short ball, rolls the...
42408    1 run, worker just outside off, jaws it into t...
Name: commentary, Length: 42409, dtype: object

Splitting the data (90-10) to get our training and testing data

In [ ]:
from sklearn.model_selection import train_test_split
x = commentary["event"]
y= commentary["commentary"]
xtrain,xtest,ytrain,ytest = train_test_split(x,y,test_size=0.1)

Altering the train and test data to suit the format for GPT language generation models (GPT-2)

In [ ]:
traindata = pd.DataFrame(ytrain)
testdata = pd.DataFrame(xtest)
traindata["commentary"] = traindata["commentary"].str.strip("")
testdata["event"] = testdata["event"].str.strip("")

Resetting the index for our training and testing data

In [ ]:
traindata.reset_index(inplace = True, drop = True)
testdata.reset_index(inplace = True, drop = True)

Save the data onto Google Drive

In [ ]:
traindata.to_csv("/content/drive/MyDrive/NLP_CommentaryDatasets/T5train.csv",index=False)
testdata.to_csv("/content/drive/MyDrive/NLP_CommentaryDatasets/T5test.csv",index=False)